img.center {
display: block;
margin-left: auto;
margin-right: auto;
}

.item {
margin-top: 20px;
-moz-border-image: url(../img/greyLogoBackground.png) 27 repeat stretch;
padding-top: 0.5em;
padding-bottom: 0.5em;
/*background-color: #FFF;*/
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius: 10px;
}
.item:hover{
/*background-color: #4F4F4F;*/
background-color: #FFF;
}
/*.item.color{
margin-top: 20px;
padding-top: 0.5em;
padding-bottom: 0.5em;
background-color: #FFF;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius: 10px;
}*/