/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
	color: #FFFFFF;
    background: #4F4F4F;
    text-shadow: none;
}

::selection {
    color: #FFFFFF;
    background: #4F4F4F;
    text-shadow: none;
}

img {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   BogusArt custom styles
   ========================================================================== */

html,body {
	padding:0;
	height:100%; /* needed for container min-height */
	background-image: url(../img/pattern3.png);
	background-color: #424242;
	border: none;
	cursor: auto;
}

body{	
	/*font-family: 'droid_sansregular', Helvetica, Arial, sans-serif;
	 font-family: 'gandhi_sansregular', Helvetica, Arial, sans-serif;*/
	font-family: 'inderregular', Helvetica, Arial, sans-serif;
}

div#container {
	position:relative; /* needed for footer positioning*/
	margin:0 auto; /* center, not in IE5 */
	height:auto !important; /* real browsers */
	height:100%; /* IE6: treaded as min-height*/
	min-height:100%; /* real browsers */
}

div#header {
	padding: 0.5em;
}

div#content {
	padding:1em 1em 5em; /* bottom padding for footer */
	margin-bottom: 70px;
}

div#footer {
	padding: 0.5em;
	width: 960px;
	margin: 0 auto;
}

/*p::first-letter {
margin-top: -12px;
margin-right: 4px;
float: left;
font-size: 72px;
color: #999;
}*/

p{
	text-align: justify;
	text-justify: distribute;
}

li a, h1 a {
	padding: 2px;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	border-radius: 30px;
}

li a:hover, h1 a:hover{
	color: #000;
	/*background-image: linear-gradient(#4F4F4F, #FFF);*/
	background-color: #FFF;
	/*border: 1px solid #4F4F4F;*/
}


/* ================ */
/* = The 1Kb Grid = */     /* 12 columns, 60 pixels each, with 20 pixel gutter */
/* ================ */

.grid_1 { width:60px; }
.grid_2 { width:140px; }
.grid_3 { width:220px; }
.grid_4 { width:300px; }
.grid_5 { width:380px; }
.grid_6 { width:460px; }
.grid_7 { width:540px; }
.grid_8 { width:620px; }
.grid_9 { width:700px; }
.grid_10 { width:780px; }
.grid_11 { width:860px; }
.grid_12 { width:940px; }

.column {
	margin: 0 10px;
	overflow: hidden;
	float: left;
	display: inline;
}
.row {
	width: 960px;
	margin: 0 auto;
	overflow: hidden;
}
.row .row {
	margin: 0 -10px;
	width: auto;
	display: inline-block;
}

#gallery {
}

#gallery .boxgrid{
width: 300px;
height: 300px;
float:left;
background:#161613;
overflow: hidden;
position: relative;
margin-bottom: 20px;
}

#gallery .boxgrid img{
position: absolute;
top: 0;
left: 0;
border: 0;
}

#gallery .boxcaption{
float: left;
position: absolute;
top: 300px;
background: #000;
height: 100px;
width: 100%;
text-align:right;
color:#FFFFFF;
opacity: .8;
/* For IE 5-7 */
filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
/* For IE 8 */
-MS-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
}

#gallery .galleryblur{
padding-bottom: 20px;
}

/* HEADER */
A{text-decoration: none;
color: #AAAAAA;}

#header {
width: 960px;
margin: 0 auto;
background-color: #4F4F4F;
padding-top: 20px;
-moz-border-radius: 20px;
-webkit-border-radius: 20px;
border-radius: 20px;
}

#header  .row{
background-color: #3A3A3A;
-moz-border-radius: 15px;
-webkit-border-radius: 15px;
border-radius: 15px;
}

#navcontainer{
}

#header #logo {
background-image: url(../img/bogusart1grey.jpg);
background-repeat: no-repeat;
height: 150px;
margin-bottom:20px;
}

#header #navlist li
{
float: right;
display: inline;
list-style-type: none;
padding-left: 20px;
padding-left: 20px;
margin-top: 40px;
margin-bottom: 5px;
}

/*#navlist {
margin: 0;
padding: 7px 6px 0;
background: #7d7d7d;
line-height: 100%;
border-radius: 2em;
-webkit-border-radius: 2em;
-moz-border-radius: 2em;
-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.4);
-moz-box-shadow: 0 1px 3px rgba(0,0,0,.4);
box-shadow: 0 1px 3px rgba(0,0,0,.4);
background: -webkit-gradient(linear, left top, left bottom, from(darkGray), to(rgb(122,
122, 122)));
background: -moz-linear-gradient(top, darkGray, rgb(122, 122, 122));
}

#navlist .current a, #navlist li:hover > a {
background: #666;
color: #444;
border-top: solid 1px #f8f8f8;
-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.2);
-moz-box-shadow: 0 1px 1px rgba(0,0,0,.2);
box-shadow: 0 1px 1px rgba(0,0,0,.2);
text-shadow: 0 1px 0 rgba(255,255,255,1);
background: -webkit-gradient(linear, left top, left bottom, from(rgb(235,
235, 235)), to(rgb(161, 161, 161)));
background: -moz-linear-gradient(top, rgb(235, 235, 235), rgb(161, 161,
161));
}

#navlist ul {
display: none;
margin: 0;
padding: 0;
width: 185px;
position: absolute;
top: 35px;
left: 0;
background: #ddd;
border: solid 1px #b4b4b4;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.2);
-moz-box-shadow: 0 1px 3px rgba(0,0,0,.2);
box-shadow: 0 1px 3px rgba(0,0,0,.2);
background: -webkit-gradient(linear, left top, left bottom,
from(white), to(rgb(207, 207, 207)));
background: -moz-linear-gradient(top, white, rgb(207, 207, 207));
}*/

/* END OF HEADER */

/* CONTENT */



#content {
color: #AAAAAA;
}
/*#content .headline{
	padding: 0.5em;
	width: 960px;
	margin: 0 auto;
}*/

img.floatleft{
float: left;
padding-right: 1em;
padding-bottom: 1em;
}

img.floatright{
float: right;
padding-left: 1em;
padding-top: 1em;
}

.floatright{
float: right;
padding: 0.5em;
margin-left: 2em;
margin-top: 2em;
background-color: #FFF;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius: 10px;
}

.contactme{
width:50%;
/*background-image: linear-gradient(#000, #3A3A3A, #4F4F4F);*/
background-image: linear-gradient(#4F4F4F, #3A3A3A);
background-image: -o-linear-gradient(#4F4F4F, #3A3A3A);
background-image: -moz-linear-gradient(#4F4F4F, #3A3A3A);
background-image: -webkit-linear-gradient(#4F4F4F, #3A3A3A);
background-image: -ms-linear-gradient(#4F4F4F, #3A3A3A);
-moz-border-radius: 20px;
-webkit-border-radius: 20px;
border-radius: 20px;
}

.contactme p{
padding-left: 40px;
}

.contactlist li{
display: inline;
list-style-type: none;
}
/* END OF CONTENT */

/* FOOTER */
#footer {
background-color: #4F4F4F;
color: #AAAAAA;
-moz-border-radius: 20px;
-webkit-border-radius: 20px;
border-radius: 20px;
}

#footer  .row{
background-image: linear-gradient(#3A3A3A, #4F4F4F);
background-image: -o-linear-gradient(#3A3A3A, #4F4F4F);
background-image: -moz-linear-gradient(#3A3A3A, #4F4F4F);
background-image: -webkit-linear-gradient(#3A3A3A, #4F4F4F);
background-image: -ms-linear-gradient(#3A3A3A, #4F4F4F);
background-color: #3A3A3A;
-moz-border-radius: 15px;
-webkit-border-radius: 15px;
border-radius: 15px;
}

#footer h1 {
border-bottom: 1px solid #000000;
width: 300px;
padding-bottom: 5px;
}

#footer .footerlist
{
padding-left: 1em;
}

#footer .footerlist li
{
margin-bottom: 5px;
list-style-type: none;
}

/* END OF FOOTER */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
