/* HEADER */
A{text-decoration: none;
color: #AAAAAA;}

#header {
width: 960px;
margin: 0 auto;
background-color: #4F4F4F;
padding-top: 20px;
}

#header #logo {
background-image: url(../img/bogusart1grey.jpg);
background-repeat: no-repeat;
height: 150px;
margin-bottom:20px;
}

#header #navlist li
{
float: right;
display: inline;
list-style-type: none;
padding-left: 20px;
padding-left: 20px;
margin-top: 40px;
}
/* END OF HEADER */

/* CONTENT */
#content {
color: #AAAAAA;
}

img.floatleft{
float: left;
padding-right: 1em;
padding-bottom: 1em;
}

img.floatright{
float: right;
padding-left: 1em;
padding-top: 1em;
}
/* END OF CONTENT */

/* FOOTER */
#footer {
background-color: #4F4F4F;
color: #AAAAAA;
}

#footer h1 {
border-bottom: 1px solid #000000;
width: 300px;
padding-bottom: 5px;
}

#footer .footerlist
{
padding-left: 0px;
}

#footer .footerlist li
{
list-style-type: none;
}
/* END OF FOOTER */
